@import url("https://fonts.googleapis.com/css2?family=Acme&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/* CSS Reset */
* {
  margin: 0;
  box-sizing: border-box;
}

img {
  border: 0;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 2.5em;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 900;
  padding: 2em;
}
header .fa-shopping-cart:hover {
  transform: rotate(-20deg);
}
header p {
  color: #E6A715;
  font-weight: 500;
  font-size: 0.9em;
}

#contenedor-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 3em;
  margin: 0;
  padding: 1em;
  width: 100vw;
}

#contenedor-tarjetas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  display: none;
}

#section-tarjetas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  box-shadow: 0px 0px 9px 10px rgba(214, 187, 44, 0.44);
  border-radius: 2em;
  background-color: #ffffff;
  margin-bottom: 3em;
  padding: 0.5em;
}

.tarjetas {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  background-color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  border: 2px #FEDD58;
  color: #E6A715;
  font-size: 1.2em;
}
.tarjetas h2 {
  margin-bottom: 1em;
  font-size: 1.5em;
}
.tarjetas .precio {
  font-weight: 800;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.img-tarjeta {
  width: 15%;
}

.text-tarjetas {
  margin-left: 3em;
  font-family: "Josefin Sans", sans-serif;
}

#contenedor-filtros {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 20%;
  padding: 1.5em;
  background-color: #ffffff;
  border-radius: 2em;
  display: none;
}

#imagen-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#text-filtros {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 900;
  font-size: 1.5em;
  color: #E6A715;
}

label {
  font-family: "Josefin Sans", sans-serif;
  color: #E6A715;
  margin-top: 2.5em;
  font-size: 1em;
  font-weight: 800;
}

input, select {
  font-family: "Josefin Sans", sans-serif;
  color: #E6A715;
  border-color: #FEDD58;
  border-radius: 2em;
  padding: 0.5em;
  font-size: 1.2em;
  margin-top: 1.5em;
  border: 0;
}

select:hover {
  background-color: #FEDD58;
  border: none;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #E6A715;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1em;
  bottom: 0;
  margin: 3em;
  padding: 1.5em;
  border-radius: 2em;
  width: 90%;
}

.icon-user {
  color: #E6A715;
}

#contactame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contactame h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
  font-weight: 900;
  font-size: 1.5em;
}

a:link {
  text-decoration: none;
}

a:hover {
  background-color: #FEDD58;
  border: none;
  padding: 0.5em;
  border-radius: 2em;
}

#contenedor-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}

.icons {
  margin-left: 3em;
}

#section-busqueda {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5em;
}
#section-busqueda #form-busqueda {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
#section-busqueda #form-busqueda input {
  width: 50%;
  margin: 0;
}
#section-busqueda #modo {
  width: 4em;
  margin-left: 1.5em;
}

#contenedor-detalle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 3em;
}

#section-detalle {
  background-color: #ffffff;
  border-radius: 2em;
  width: 55em;
  padding: 3em;
  font-family: "Josefin Sans", sans-serif;
  color: #E6A715;
  font-size: 1.2em;
  display: none;
}
#section-detalle .detalle-producto {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#section-detalle .detalle-producto h2 {
  font-weight: 900;
  text-align: center;
}
#section-detalle .detalle-producto .flex-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 3em;
}
#section-detalle .detalle-producto .flex-column .detalle-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#section-detalle .detalle-producto .flex-column .detalle-img img {
  width: 30%;
}
#section-detalle .detalle-producto .flex-column p {
  margin-bottom: 0.5em;
  font-size: 1.2em;
  text-align: center;
}
#section-detalle .detalle-producto .flex-column .detalle-precio {
  font-weight: 800;
  margin-top: 1em;
  font-size: 2.5em;
}
#section-detalle .detalle-producto .flex-column .vendedor {
  color: #062895;
}
#section-detalle .detalle-producto .flex-column .img-detalle-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#section-detalle .detalle-producto .flex-column .img-detalle-flex .fa-truck {
  padding-bottom: 7px;
  margin-right: 5px;
}
#section-detalle .detalle-producto .flex-column .img-detalle-flex .envio-gratis, #section-detalle .detalle-producto .flex-column .img-detalle-flex .fa-truck {
  color: #68C82D;
}
#section-detalle .detalle-producto .flex-column .img-detalle-flex .envio-no-gratis {
  color: red;
}
#section-detalle .detalle-producto .detalle-contenedor-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}
#section-detalle .detalle-producto .detalle-contenedor-img .detalle-otras-img {
  width: 10%;
}
#section-detalle .detalle-producto .detalle-contenedor-img .detalle-otras-img:hover {
  transform: scale(1.3);
}

button {
  color: #E6A715;
  border: 0;
  border-color: #FEDD58;
  border-radius: 2em;
  padding: 0.5em;
  font-size: 1em;
  background-color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
}

button:hover {
  background-color: #FEDD58;
  border: 0;
}

#contenedor-botones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5em;
}
#contenedor-botones button {
  margin-right: 1em;
}

.boton-atras {
  margin-top: 2.5em;
}

.boton-comprar {
  background-color: #68C82D;
  font-size: 1em;
  color: #ffffff;
  margin-top: 2.5em;
  padding: 0.5em;
}

.total-paginas {
  color: #ffffff;
  font-size: 1.2em;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 1em;
  margin-top: 1em;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1em;
  background-color: #111111bd;
  color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}
.modal .fa-exclamation-triangle {
  color: #FEDD58;
  font-size: 5em;
  margin-bottom: 0.5em;
}
.modal p {
  margin-bottom: 3em;
  text-align: center;
  color: #E6A715;
  font-size: 1.2em;
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 600px;
  background-color: white;
  border-radius: 2em;
  padding: 1.5em;
}

@media screen and (max-width: 1024px) {
  body {
    width: 100vw;
  }

  #contenedor-detalle {
    margin: 1.5em;
  }
}
@media screen and (max-width: 768px) {
  body {
    width: 100vw;
  }

  #section-detalle {
    width: 80%;
  }
}
@media screen and (max-width: 425px) {
  header h1 {
    font-size: 1.5em;
  }
  header p {
    font-size: 0.5em;
  }

  #contenedor-flex {
    padding: 0.5em;
    margin: 0;
  }

  #contenedor-filtros {
    padding: 0.5em;
  }

  #text-filtros {
    font-size: 0.8em;
    text-align: center;
    font-weight: 400;
    margin-top: 0.5em;
  }

  label {
    text-align: center;
    font-size: 0.7em;
    font-weight: 600;
    margin-top: 1.5em;
  }

  select {
    font-size: 0.6em;
  }

  #contenedor-botones {
    margin-bottom: 1em;
  }

  #contenedor-tarjetas {
    margin-left: 1.5em;
  }

  #section-tarjetas {
    margin-bottom: 1em;
    width: 100%;
  }
  #section-tarjetas .tarjetas h2, #section-tarjetas .tarjetas .precio, #section-tarjetas .tarjetas p {
    font-size: 0.8em;
  }
  #section-tarjetas .tarjetas h2 {
    margin-bottom: 0.5em;
  }

  footer {
    width: 100%;
    margin: 0;
    font-size: 0.8em;
    text-align: center;
    font-weight: 500;
  }

  .detalle-producto h2 {
    font-size: 0.8em;
  }

  #section-detalle {
    padding: 1em 1.5em;
    width: 100%;
  }

  .flex-column {
    width: 70%;
    margin-left: 1em;
  }
  .flex-column p {
    font-size: 0.7em;
    margin-bottom: 0.4em;
  }

  .detalle-flex {
    margin-top: 0.5em;
    width: 100%;
  }
  .detalle-flex .detalle-img {
    margin: 0;
  }

  .boton-comprar {
    margin-top: 1em;
    font-size: 0.8em;
  }

  .detalle-contenedor-img {
    margin-top: 1.5em;
  }

  .boton-atras {
    margin-top: 1em;
  }

  #section-detalle .detalle-producto .flex-column p {
    font-size: 0.5em;
  }
  #section-detalle .detalle-producto .flex-column .detalle-precio {
    font-size: 1em;
  }
}
@media screen and (max-width: 320px) {
  header h1 {
    font-size: 1em;
  }

  #text-filtros {
    font-size: 0.6em;
    font-weight: 400;
  }

  select {
    font-size: 0.5em;
  }

  .tarjetas h2 {
    font-size: 0.6em;
    font-weight: 400;
  }
  .tarjetas .precio {
    font-weight: 500;
  }

  .img-tarjeta {
    width: 30%;
  }

  .text-tarjetas {
    margin-left: 1em;
  }

  #contenedor-detalle {
    margin: 1em;
  }
}
.modo-oscuro {
  background-color: black;
}
.modo-oscuro input, .modo-oscuro #contenedor-filtros, .modo-oscuro #section-tarjetas, .modo-oscuro #section-detalle, .modo-oscuro .modal-container, .modo-oscuro footer {
  border: 2px solid #E6A715;
}
.modo-oscuro #section-tarjetas, .modo-oscuro .tarjetas, .modo-oscuro #contenedor-filtros, .modo-oscuro #section-detalle, .modo-oscuro .modal-container, .modo-oscuro footer {
  background-color: black;
}
.modo-oscuro #section-tarjetas, .modo-oscuro #section-detalle {
  box-shadow: 0px 0px 5px 4px rgba(214, 187, 44, 0.44);
}
.modo-oscuro button {
  background-color: black;
  border: 1px solid #E6A715;
  color: #E6A715;
}
.modo-oscuro select {
  background-color: black;
  border: 1px solid #E6A715;
}
.modo-oscuro .total-paginas {
  color: #E6A715;
}

#slider {
  width: 100vw;
  margin: auto;
}

#slider ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: cambio 10s infinite alternate;
  animation-timing-function: ease-in;
}

#slider li {
  list-style: none;
}

#slider img {
  width: 100%;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
#contenedor-pagos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 2em;
}

html {
  width: 100vw;
}

body {
  background-color: #FEDD58;
  width: 100vw;
  font-size: 12px;
}

/*# sourceMappingURL=style.css.map */
