@import url("https://fonts.googleapis.com/css2?family=Acme&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/* CSS Reset */
* {
  margin: 0;
  box-sizing: border-box;
}

img {
  border: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header img {
  width: 40%;
}
header img:hover {
  transform: scale(1.15);
}

#contenedor-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 55px;
  width: 100vw;
  padding: 20px;
}

#contenedor-tarjetas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: none;
}

#section-tarjetas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  box-shadow: 0px 0px 9px 10px rgba(214, 187, 44, 0.44);
  border-radius: 30px;
  background-color: #ffffff;
  margin-bottom: 35px;
  padding: 0.5rem;
}

.tarjetas {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  background-color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  border: 2px #FEDD58;
}

.img-tarjeta {
  width: 15%;
}

.text-tarjetas {
  margin-left: 35px;
  font-family: "Josefin Sans", sans-serif;
}

#contenedor-filtros {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 20%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 30px;
  height: auto;
}

#imagen-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#text-filtros {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 900;
  font-size: 20px;
  color: #E6A715;
}

label {
  font-family: "Josefin Sans", sans-serif;
  color: #E6A715;
  margin-top: 55px;
  font-size: 18px;
}

input, select {
  font-family: "Josefin Sans", sans-serif;
  color: #E6A715;
  border-color: #FEDD58;
  border-radius: 30px;
  padding: 7px;
  font-size: 18px;
  margin-top: 35px;
}

select:hover {
  background-color: #FEDD58;
  border: none;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #E6A715;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  bottom: 0;
  margin-top: 35px;
  padding: 20px;
  border-radius: 30px;
}

.icon-user {
  color: #E6A715;
}

#contactame h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
  font-weight: 900;
  font-size: 18px;
}

a:link {
  text-decoration: none;
}

a:hover {
  background-color: #FEDD58;
  border: none;
  padding: 7px;
  border-radius: 30px;
}

#contenedor-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}

.icons {
  margin-left: 35px;
}

#lupa {
  width: 1.3em;
  margin-left: 15px;
}

#form-busqueda {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 50%;
}

#contenedor-detalle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  margin: 35px;
}

#section-detalle {
  background-color: #ffffff;
  border-radius: 30px;
  width: 700px;
  justify-content: center;
  padding: 35px;
  font-family: "Josefin Sans", sans-serif;
  color: #E6A715;
  font-size: 20px;
  display: none;
}

.detalle-producto {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.detalle-producto h2 {
  font-weight: 900;
  text-align: center;
}

.detalle-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.detalle-flex .detalle-img {
  width: 30%;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 35px;
}
.flex-column p {
  margin-bottom: 7px;
}
.flex-column .detalle-precio {
  font-weight: 800;
}

.img-detalle-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.detalle-contenedor-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}
.detalle-contenedor-img .detalle-otras-img {
  width: 5%;
}
.detalle-contenedor-img .detalle-otras-img:hover {
  transform: scale(1.15);
}

button {
  color: #E6A715;
  border: 0;
  border-color: #FEDD58;
  border-radius: 30px;
  padding: 7px;
  font-size: 18px;
  background-color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
}

button:hover {
  background-color: #FEDD58;
  border: 0;
}

#contenedor-botones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}

.boton-atras {
  margin-top: 35px;
}

.boton-comprar {
  background-color: green;
  font-size: 18px;
  color: #ffffff;
  margin-top: 35px;
  padding: 7px;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  background-color: #111111bd;
  color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}
.modal .fa-exclamation-triangle {
  color: #FEDD58;
  font-size: 65px;
  margin-bottom: 35px;
}
.modal p {
  margin-bottom: 35px;
  text-align: center;
  color: #E6A715;
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 600px;
  background-color: white;
  border-radius: 30px;
  padding: 20px;
}

body {
  background-color: #FEDD58;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
