button{
    color: $fondoSecundario;
    border: $cero;
    border-color: $fondoPrincipal;
    border-radius: $borderRadius;
    padding: $espacioS;
    font-size: $tamanioTextoPagina;
    background-color: $colorTextoPrincipal;
    font-family: $tipografiaPrincipal;
}
button:hover{
    background-color: $fondoPrincipal;
    border: $cero;
}
#contenedor-botones{
    @include flex($direction: row, $justify:center, $align:center);
    margin-bottom: $espacioL;
}
.boton-atras{
    margin-top: $espacioG;
}
.boton-comprar{
    background-color:$colorComprar;
    font-size: $tamanioTextoPagina;
    color: $colorTextoPrincipal;
    margin-top: $espacioG;
    padding: $espacioS;
}

// paginas p
.totalPaginas{
    color:$colorTextoPrincipal;
    font-size: $tamanioTextoPaginaMed;
    font-family: $tipografiaPrincipal;
    margin-bottom: $espacio;
    margin-top: $espacio;
}