button{
    color: $fondoSecundario;
    border: 0;
    border-color: $fondoPrincipal;
    border-radius: $borderRadius;
    padding: $paddingmin;
    font-size: $tamanioTextoPagina;
    background-color: $colorTextoPrincipal;
    font-family: $tipografiaPrincipal;
}
button:hover{
    background-color: $fondoPrincipal;
    border: 0;
}
#contenedor-botones{
    @include flex($direction: row, $justify:center, $align:center);
    margin-bottom: $marginMIN;
}
.boton-atras{
    margin-top: $marginMIN;
}
.boton-comprar{
    background-color: green;
    font-size: $tamanioTextoPagina;
    color: $colorTextoPrincipal;
    margin-top: $marginMIN;
    padding: $paddingmin;
}