#section-busqueda{
    @include flex($direction: row, $justify:center, $align:center);
}
#form-busqueda{
    @include flex($direction: row, $justify:center, $align:center);
    width: 100vw;
    .fa-search{
        color: $fondoSecundario;
        font-size: $tamanioTextoPaginaGde;
        margin-left: $espacioS;
        margin-top: $espacioXG;
    }
}
input{
    width: 50%;
}