#section-busqueda{
    @include flex($direction: row, $justify:center, $align:center);
    margin-bottom: $espacioG;
    #form-busqueda{
        @include flex($direction: row, $justify:center, $align:center);
        width: 100vw;
        input{
            width: 50%;
            margin: $cero;
        }
    }
    #modo{
        width: $espacioXXG;
        margin-left: $espacioL;
        cursor: pointer;
    }
    
}


