#contenedor-detalle{
    @include flex($direction: column, $justify:center, $align:center);
    width: 80%;
    margin: $espacioXG;
}
#section-detalle{
    background-color: $colorTextoPrincipal;
    border-radius: $borderRadius;
    width: $espacioGDE;
    padding: $espacioXG;
    font-family: $tipografiaPrincipal;
    color: $fondoSecundario;
    font-size: $tamanioTextoPaginaMed;
    display: none;
    .detalle-producto{
        @include flexSinAlign;
        h2{
            font-weight: 900;
            text-align: center;
        }
        .flex-column{
            @include flexSinAlign;
            margin-left: $espacioXG;
            .detalle-img{
                @include flex($direction: column, $justify:center, $align:center);
                img{
                    width: 30%;
                }
            }
            p{
                margin-bottom: $espacioS;
                font-size: $tamanioTextoPaginaMed;
                text-align: center;
            }
            .detalle-precio{
                font-weight: 800;
                margin-top: $espacio;
                font-size: $tamanioTextoPaginaXGde;
            }
            .vendedor{
                color: $colorVendedor;
            }
            .img-detalle-flex{
                @include flex($direction: row, $justify:center, $align:center);
                .fa-truck{
                    padding-bottom: 7px;
                    margin-right: 5px;
                }
                .envio-gratis, .fa-truck{
                    color: $colorComprar;
                }
                .envio-no-gratis{
                    color: red;
                }
            }
        }
        .detalle-contenedor-img{
            @include flex($direction: row, $justify:center, $align:center);
            margin-top: $espacioXG;
            .detalle-otras-img{
                width: 10%;
            }
            .detalle-otras-img:hover{
                transform: $escala;
            }
        }
    }
    
}

