#contenedor-filtros{
    @include flexSinAlign;
    margin-left: $marginMAX;
    width: 20%;
    padding: $padding ;
    background-color: $colorTextoPrincipal;
    border-radius: $borderRadius;
    height: auto;

}
#imagen-principal{
    @include flex($direction: column, $justify:center, $align:center);
}
#text-filtros{
    font-family: $tipografiaPrincipal;
    font-weight: 900;
    font-size: $tamanioTextoPaginaGde;
    color: $fondoSecundario;
}
label{
    font-family: $tipografiaPrincipal;
    color: $fondoSecundario;
    margin-top: $marginMAX ;
    font-size: $tamanioTextoPagina;

}
input, select{
    font-family: $tipografiaPrincipal;
    color: $fondoSecundario;
    border-color: $fondoPrincipal;
    border-radius: $borderRadius;
    padding: 7px;
    font-size: $tamanioTextoPagina;
    margin-top: $marginMIN;

}
select:hover{
    background-color: $fondoPrincipal;
    border: none;
}