#contenedor-filtros{
    @include flexSinAlign;
    width: 20%;
    padding: $espacioL;
    background-color: $colorTextoPrincipal;
    border-radius: $borderRadius;
    display: none;
}
#imagen-principal{
    @include flex($direction: column, $justify:center, $align:center);
}
#text-filtros{
    font-family: $tipografiaPrincipal;
    font-weight: 900;
    font-size: $tamanioTextoPaginaGde;
    color: $fondoSecundario;
}
label{
    font-family: $tipografiaPrincipal;
    color: $fondoSecundario;
    margin-top: $espacioG ;
    font-size: $tamanioTextoPagina;
    font-weight: 800;

}
input, select{
    font-family: $tipografiaPrincipal;
    color: $fondoSecundario;
    border-color: $fondoPrincipal;
    border-radius: $borderRadius;
    padding: $espacioS;
    font-size: $tamanioTextoPaginaMed;
    margin-top: $espacioL;
    border: $cero;
}
select:hover{
    background-color: $fondoPrincipal;
    border: none;
}