footer{
    @include flex($direction: column, $justify:center, $align:center);
    background-color: $colorTextoPrincipal;
    color: $fondoSecundario;
    font-family: $tipografiaPrincipal;
    font-size: $tamanioTextoPagina;
    bottom: 0; 
    margin-top: $marginMIN;
    padding: $padding;
    border-radius: $borderRadius;
}
.icon-user{
    color: $fondoSecundario;
}
#contactame{
    h3{
        @include flex($direction: column, $justify:center, $align:center);
        margin-bottom: $marginMIN;
        font-weight: 900;
        font-size: $tamanioTextoPagina;

    }
}
a:link{
    text-decoration:none;
}
a:hover{
    background-color: $fondoPrincipal;
    border: none;
    padding: $paddingmin;
    border-radius: $borderRadius;
}
#contenedor-icons{
    @include flex($direction: row, $justify:center, $align:center);
    margin-bottom: $marginMIN;
}
.icons{
    margin-left: $marginMIN;
}