footer{
    @include flex($direction: column, $justify:center, $align:center);
    background-color: $colorTextoPrincipal;
    color: $fondoSecundario;
    font-family: $tipografiaPrincipal;
    font-size: $tamanioTextoPagina;
    bottom: $cero; 
    margin: $espacioXG;
    padding: $espacioL;
    border-radius: $borderRadius;
    width: 90%;
}
.icon-user{
    color: $fondoSecundario;
}
#contactame{
    @include flex($direction: column, $justify:center, $align:center);
    h3{
        @include flex($direction: column, $justify:center, $align:center);
        margin-bottom: $espacioM;
        font-weight: 900;
        font-size: $tamanioTextoPaginaGde;
    }
}
a:link{
    text-decoration:none;
}
a:hover{
    background-color: $fondoPrincipal;
    border: none;
    padding: $espacioS;
    border-radius: $borderRadius;
}
#contenedor-icons{
    @include flex($direction: row, $justify:center, $align:center);
    margin-bottom: $espacioXG;
}
.icons{
    margin-left: $espacioXG;
}