header{
    @include flex($direction: column, $justify:center, $align:center);
    color: $colorTextoPrincipal;
    font-size: $tamanioTextoPaginaXGde;
    font-family: $tipografiaPrincipal;
    font-weight: 900;
    padding: $espacioM;
    .fa-shopping-cart:hover{
        transform: rotate(-20deg);
    }
    p{
        color: $fondoSecundario;
        font-weight: 500;
        font-size: $tamanioTextoPaginoChico;
    }

}
#contenedor-flex{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: $espacioXG;
    margin: $cero;
    padding: $espacio;
    width: 100vw;
}
