header{
    @include flex($direction: row, $justify:flex-start, $align:center);
    margin-top: $marginmx;
    #imagen-icono{
        width: 17%;
        @include flex($direction: row, $justify:flex-start, $align:center);
        display: none;
    }
    #imagen-icono-reemplazo{
        width: 17%;
        @include flex($direction: row, $justify:flex-start, $align:center);
    }
    div{
        margin-left: $marginLeft;
        @include flex($direction: column, $justify:center, $align:center);
    }
    div h1{
        color: $colorTextoPrincipal;
        font-size:$tamanioTextoPrincipal;
        font-family: $tipografiaPrincipal;
        font-weight: 800;
        margin: 0px;
    }
    div p{
        color: $fondoSecundario;
        font-size:$tamanioTextoSecundario;
        font-family: $tipografiaPrincipal;
        font-weight: 700;
    }
}
