header{
    display: flex;
    justify-content: start;
    align-items: center;    
    img{
        width: 17%;
    }
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 30%;
    }
    div h1{
        color: $colorTextoPrincipal;
        font-size:$tamanioTextoPrincipal;
        font-family: $tipografiaPrincipal;
        font-weight: 800;
        margin: 0px;
    }
    div p{
        color: $colorTextoSecundario;
        font-size:$tamanioTextoSecundario;
        font-family: $tipografiaPrincipal;
        font-weight: 700;
    }
}