.modal{
    @include flex($direction: column, $justify:center, $align:center);
    font-family: $tipografiaPrincipal;
    font-size: $tamanioTextoPagina;
    background-color:#111111bd;
    color: $colorTextoPrincipal;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .fa-exclamation-triangle{
        color: $fondoPrincipal;
        font-size: $tamanioIcono;
        margin-bottom: $marginMIN;
    }
    p{
        margin-bottom: $marginMIN;
        text-align: center;
        color: $fondoSecundario;
    }
    
    display: none;

}
.modal-container{
    @include flex($direction: column, $justify:center, $align:center);
    width: 90%;
    max-width: 600px;
    background-color: white;
    border-radius: $borderRadius;
    padding: $padding;
}
