.modal{
    @include flex($direction: column, $justify:center, $align:center);
    font-family: $tipografiaPrincipal;
    font-size: $tamanioTextoPagina;
    background-color:#111111bd;
    color: $colorTextoPrincipal;
    position: fixed;
    top: $cero;
    left: $cero;
    right: $cero;
    bottom: $cero;

    .fa-exclamation-triangle{
        color: $fondoPrincipal;
        font-size: $tamanioIcono;
        margin-bottom: $espacioS;
    }
    p{
        margin-bottom: $espacioXG;
        text-align: center;
        color: $fondoSecundario;
        font-size: $tamanioTextoPaginaMed;
    }
    
    display: none;

}
.modal-container{
    @include flex($direction: column, $justify:center, $align:center);
    width: 90%;
    max-width: 600px;
    background-color: white;
    border-radius: $borderRadius;
    padding: $espacioL;
}
