#contenedor-tarjetas{
    @include flex($direction: column, $justify:center, $align:center);
    width: 100%;
    display: none;
}
#section-tarjetas{
    @include flex($direction: row, $justify:center, $align:center);
    flex-wrap: wrap;
    width: 90%;
    box-shadow: $boxShadow;
    border-radius: $borderRadius;
    background-color:$colorTextoPrincipal ;
    margin-bottom: $marginMIN;
    padding: 0.5rem;
}

.tarjetas{
    @include flex($direction: row, $justify: flex-start, $align:center);
    width: 95%;
    background-color:$colorTextoPrincipal;
    font-family: $tipografiaPrincipal;
    border: 2px $fondoPrincipal;
}
.img-tarjeta{
    width: 15%;
}
.text-tarjetas{
    margin-left: $marginMIN ;
    font-family: $tipografiaPrincipal;
}

