#imagen-principal{
    img{
        @include flex($direction: column, $justify:center, $align:center);
    }
}
#contenedor-tarjetas{
    @include flex($direction: column, $justify:center, $align:center);
    width: 80%;
    display: none;
}
#section-tarjetas{
    @include flex($direction: row, $justify:center, $align:center);
    flex-wrap: wrap;
    width: 90%;
    box-shadow: $boxShadow;
    border-radius: $borderRadius;
    background-color:$colorTextoPrincipal ;
    margin-top: $marginmx;
    // padding: $padding;
}

.tarjetas{
    @include flex($direction: row, $justify: flex-start, $align:center);
    width: 95%;
    background-color:$colorTextoPrincipal;
    padding: 0.5rem;
    font-family: $tipografiaPrincipal;
    margin-top: 5px;
    border: 2px $fondoPrincipal;
}
.img-tarjeta{
    width: 15%;
}
.text-tarjetas{
    margin-left: $margin ;
    font-family: $tipografiaPrincipal;
}
#section-detalle{
    @include flex($direction: row, $justify:center, $align:center);
}
