#contenedor-tarjetas{
    @include flex($direction: column, $justify:center, $align:center);
    width: 70%;
    display: none;
}
#section-tarjetas{
    @include flex($direction: row, $justify:center, $align:center);
    flex-wrap: wrap;
    width: 90%;
    box-shadow: $boxShadow;
    border-radius: $borderRadius;
    background-color:$colorTextoPrincipal ;
    margin-bottom: $espacioXG;
    padding: $espacioS;
}

.tarjetas{
    @include flex($direction: row, $justify: flex-start, $align:center);
    width: 95%;
    background-color:$colorTextoPrincipal;
    font-family: $tipografiaPrincipal;
    border: 2px $fondoPrincipal;
    color: $fondoSecundario;
    font-size: $tamanioTextoPaginaMed;
    h2{
        margin-bottom: $espacio;
        font-size: $tamanioTextoPaginaGde;
    }
    .precio{
        font-weight: 800;
        font-size: $tamanioTextoPaginaGde;
        margin-bottom: $espacioS;
    }
}
.img-tarjeta{
    width: 15%;
}
.text-tarjetas{
    margin-left: $espacioXG ;
    font-family: $tipografiaPrincipal;
}

