//colores
$fondoPrincipal: #FEDD58;
$colorTextoPrincipal: #ffffff;
$fondoSecundario: #E6A715;

//tipografias
$tipografiaPrincipal: 'Josefin Sans', sans-serif;

//tamaños de texto
$tamanioTextoPrincipal: 300%;
$tamanioTextoSecundario: 100%;
$tamanioTextoPagina: 18px;
$tamanioTextoPaginaGde: 20px;

//componentes
$boxShadow: 0px 0px 9px 10px rgba(214,187,44,0.44);
$borderRadius : 30px;
$margin : 15px;
$marginmx : 25px;
$padding : 20px;
$marginLeft: 20%;

// mixin
@mixin flex($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
@mixin flexSinAlign {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
