$colorPrincipal: #FEDD58;
$colorSecundario: #ffffff;
$colorTextoPrincipal: #ffffff;
$colorTextoSecundario: #D6BB2C;
$tamanioTextoPrincipal: 300%;
$tamanioTextoSecundario: 100%;
$tipografiaPrincipal: 'Open Sans', sans-serif;
// $boxShadow: 0px 0px 9px 10px rgba(214,187,44,0.44);
